.region-content {
  margin:0 auto;
}

.region-content .node--view-mode-full .node__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.region-content .node--view-mode-full .node__content .slick{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.region-content .node--view-mode-full .node__content .field--name-field-title {
  margin: 1% 0% 0.6% 1%;
  width: 200px;
  padding-right: 910px;
  height: 26px;
  opacity: 1;
  color: #65666b;
  font-size: 22px;
  font-weight: 300;
  line-height: 25.74px;
  text-transform: uppercase;
  letter-spacing: -0.43px;
}

.region-content .node--view-mode-full .node__content .noda {
  display: flex;
}

.region-content .node--view-mode-full .node__content .field--name-body p {
  width: 756px;
  height: 132px;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 1;
  color: #65666b;
  text-align: justify;
  font-family: Calibri;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
}

.region-content .node--view-mode-full .node__content .field--name-field-img {
  display: block;
  text-align: center;
  margin-right: 20px;
  width: 351px;
  height: 165px;
  background-image: url(images/red.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media all and (max-width: 900px) {
  .region-content .node--view-mode-full .node__content .field--name-field-title {
    padding-right: 0px;
  }
  .region-content .node--view-mode-full .node__content .noda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .region-content .node--view-mode-full .node__content .field--name-body p {
    width: 400px;
    height: 132px;
  }
  .region-content .node--view-mode-full .node__content .field--name-field-img {
    width: 351px;
    height: 165px;
  }
}

@media all and (min-width: 901px) and (max-width: 1200px) {
  .region-content .node--view-mode-full .node__content .field--name-field-title {
    padding-right: 0px;
  }
  .region-content .node--view-mode-full .node__content .noda {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .region-content .node--view-mode-full .node__content .field--name-body p {
    width: 456px;
    height: 132px;
  }
  .region-content .node--view-mode-full .node__content .field--name-field-img {
    width: 351px;
    height: 165px;
  }
}
