.region-footer-first .block .view-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 79px;
  background-color: #2d2d2d;
}

.region-footer-first .block .field--type-text-with-summary p {
  text-align: center;
  opacity: 1;
  color: #000000;
  font-family: "Source Code Pro";
  font-size: 36px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: -1.44px;
}

.region-footer-first .block .view-contact .view-content {
  display: flex;
  justify-content: center;
  opacity: 1;
}

.region-footer-first .block .view-contact .view-content .views-row  {
  display: flex;
  margin: 10px 50px 0px 50px;
}

.region-footer-first .block .view-contact .view-content .views-row .views-field-field-contact-link .field-content a {
  width: 361px;
  height: 12px;
  opacity: 1;
  color: #ffffff;
  font-family: "Trebuchet MS";
  font-size: 11px;
  font-weight: 400;
  text-decoration: none;
}

.region-footer-first .block .view-contact .view-content .views-row .views-field-field-contact-img .field-content img {
  margin: 0px 10px 0px 0px;
  opacity: 1;
}

@media all and (max-width: 900px) {
  .region-footer-first .block .view-contact .view-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .region-footer-first .block .view-contact {
    height: 170px;
  }
}
