.region-content-block {
  display: flex;
  justify-content: center;
  height: 271px;
  border: 1px solid #ebebeb;
  background-color: #a60912;
  background-image: linear-gradient(to top, #ececec 0%, #f4f4f4 100%);
  margin-top: 20px;
  opacity: 1;
}

.region-content-block .views-element-container .view-content-box .view-content {
  display: flex;
}

.region-content-block  .views-element-container .view-content-box .view-content .views-row {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 20px 49px 0px 49px;
  width: 272px;
  height: 230px;
}

.region-content-block .views-element-container .view-content-box .view-content .views-row .views-field-title .field-content a{
  width: 272px;
  height: 15px;
  opacity: 1;
  text-align: center;
  color: #b5141d;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: -0.44px;
  text-decoration: none;
}

.region-content-block .views-element-container .view-content-box .view-content .views-row .views-field-field-description-box p{
  width: 272px;
  height: 64px;
  margin-bottom: 30px;
  opacity: 1;
  text-align: center;
  color: #000000;
  font-family: Calibri;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.region-content-block .views-element-container .view-content-box .view-content .views-row .views-field-field-image-box img {
  margin-bottom: 10px;
  width: 52px;
  height: 52px;
  opacity: 1;
}

.region-content-block .views-element-container .view-content-box .view-content .views-row .views-field-field-more a {
  width: 73px;
  height: 36px;
  opacity: 1;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #b5141d;
  padding: 13px 19px;
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  border-radius: 10px;
}

@media all and (max-width: 599px) {
  .region-content-block .views-element-container .view-content-box .view-content {
    display: flex;
    flex-direction: column;
  }
  .region-content-block {
    height: 770px;
  }
}

@media all and (min-width: 600px) and (max-width: 820px) {
  .region-content-block .views-element-container .view-content-box .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .region-content-block {
    height: 510px;
  }
  .region-content-block  .views-element-container .view-content-box .view-content .views-row {
    margin: 0px auto;
  }
}

@media all and (min-width: 821px) and (max-width: 1200px) {
  .region-content-block  .views-element-container .view-content-box .view-content .views-row {
    margin: 20px 0px 0px 0px;
  }
}
