.region-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #000;
}

.region-footer #block-footer-link .field--type-text-with-summary a {
  margin: 15px 180px 0px 0px;
  width: 200px;
  height: 48px;
  color: #ffffff;
  font-family: "Istok Web";
  font-size: 50px;
  font-weight: 700;
  line-height: 25px;
  text-decoration: none;
}

.region-footer #block-footer-desc .field--type-text-with-summary .descrip {
  margin: 0px 0px 0px 180px;
  width: 492px;
  height: 65px;
  opacity: 1;
  color: #ffffff;
  font-family: "Trebuchet MS";
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
}

.region-footer #block-footer-link .field--type-text-with-summary p {
  margin-top: 15px;
  width: 175px;
  height: 10px;
  color: #ffffff;
  font-family: "Arial MT";
  font-size: 11px;
  font-weight: 400;
  line-height: 18.05px;
}

@media all and (max-width: 1000px) {
  .region-footer #block-footer-desc .field--type-text-with-summary .descrip {
    display: none;
  }
}
