.region-content-gallery  {
  background-image: url(images/Layer_2342.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  height: 402px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.region-content-gallery .views-element-container .view-gallery .view-content .views-row {
  margin: 0px 0px 0px 623px;
}

.region-content-gallery .views-element-container .view-gallery .view-content .views-row .views-field-field-description-g .field-content p {
  width: 487px;
  height: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  opacity: 1;
  color: #fff;
  font-family: Calibri;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.3px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.region-content-gallery .views-element-container .view-gallery .view-content .views-row .views-field-title .field-content a {
  width: 400px;
  height: 19px;
  opacity: 1;
  color: #fff;
  font-family: "Raleway - Semi Bold";
  font-size: 30px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: -1.2px;
  text-decoration: none;
}

.region-content-gallery .views-element-container .view-gallery .view-content .views-row .views-field-field-more-g .field-content a {
  width: 155px;
  height: 17px;
  opacity: 1;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #b5141d;
  padding: 21px 43px;
  font-family: Raleway;
  font-size: 27px;
  font-weight: 300;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: -0.54px;
  border-radius: 10px;
}

@media all and (max-width: 1000px) {
  .region-content-gallery .views-element-container .view-gallery .view-content .views-row {
    margin: 0px 0px 0px 0px;
  }
  .region-content-gallery .views-element-container .view-gallery .view-content .views-row .views-field-field-description-g .field-content p {
    width: 400px;

  }
}
