.layout-container {
  min-width: 420px;
  margin:0 auto;
}
.region-header {
  max-width: 1110px;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
}

@media all and (max-width: 900px) {
  .region-header {
    display: none;
  }
}

@media all and (min-width: 901px) and (max-width: 1200px) {
  .region-header .block-block-content, .region-header .views-element-container .view-links {
    display: none;
  }
}
.region-header .views-element-container .view-links .view-content{
  display: flex;
  width: 545px;
  height: 35px;
  opacity: 1;
  margin-left: 601px;
  margin-bottom: 10px;
}
.region-header .views-element-container .view-links .view-content .views-row{
  display: flex;
  margin-right: 15px;
  opacity: 1;
  align-items: center;
}

.region-header .views-element-container .view-links .view-content .views-row .views-field-field-mod a {
  color: #000;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: -0.3px;
  text-decoration: none;
}

.region-header .views-element-container .view-links .view-content .views-row .views-field-field-links-img img {
  margin: 0px 10px 0px 0px;
  width: 29px;
  height: 29px;
  opacity: 1;
}
