.menu--main {
  z-index: -1;
  background-color: #222222;
  background-image: linear-gradient(to top, #000000 0%, #222222 50%, #000000 100%);
}

.menu--main .menu {
  height: 55px;
  max-width: 1110px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  opacity: 1;
}

.menu--main ul li a {
  height: 12px;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: -0.34px;
  text-decoration: none;
}

.menu--main ul li a.is-active {
  color: #f00;
}
.menu--main ul li a:active {
  color: #f00;
}

@media all and (max-width: 599px) {
  .menu--main {
    height: 180px;
  }
  .menu--main .menu {
    height: 180px;
    display: flex;
    flex-direction: column;
  }
}

@media all and (min-width: 600px) and (max-width: 900px) {
  .menu--main .menu {
    margin: 0px 10px 0px 10px;
  }

}

@media all and (min-width: 901px) and (max-width: 1200px) {
  .menu--main .menu {
    margin: 0px 10px 0px 10px;
  }
}
