.region-header .views-element-container .view-links .view-content .views-row .views-field-field-dialog .node--type-webform {
  position: absolute;
  z-index: 1;
  top: 110px;
  left: 65%;
  width: 270px;
  height: 570px;
  background-color: #ffffff;
  background-image: linear-gradient(to top, #d9d9d9, #ffffff);
}

.region-header .views-element-container .view-links .view-content .views-row .views-field-field-dialog .node--type-webform h2, .node__meta, .webform-progress .progress-text {
  display: none;
}

.region-header .views-element-container .view-links .view-content .views-row .views-field-field-dialog .node--type-webform .webform-progress {
  position: absolute;
  top: 195px;
  width: 270px;
  height: 34px;
}

.region-header .views-element-container .view-links .view-content .views-row .views-field-field-dialog .node--type-webform .webform-progress .progress-step .progress-marker{
  background-color: #b5141d;
  border-radius: 0px;
  width: 32px;
  height: 26px;
}

.region-header .views-element-container .view-links .view-content .views-row .views-field-field-dialog .node--type-webform .webform-progress .is-active .progress-marker{
  background-color: #222222;
  border-radius: 0px;
  width: 32px;
  height: 26px;
}
.region-header .views-element-container .view-links .view-content .views-row .views-field-field-dialog .node--type-webform .webform-progress .webform-progress-tracker {
  width: 250px;
}
.node--type-webform #edit-flexbox {
  background-image: url(images/layer.png);
  background-repeat: no-repeat;
  background-position: 5% 10%;
  background-color: #b5141d;
  border-bottom: 4px solid;
}

.node--type-webform #edit-processed-text p {
  padding-top: 13px;
  margin: 10px 0px 0px 60px;
  color: #ffffff;
  font-family: Calibri;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.3px;
}

.node--type-webform #edit-processed-text-01 p {
  margin: 0px 0px 0px 12px;
  width: 250px;
  color: #ffffff;
  font-family: Calibri;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.node--type-webform #edit-processed-text-02 p {
  margin: 0px 0px 60px 12px;
  width: 250px;
  color: #000000;
  font-family: Calibri;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}

.node--type-webform .fieldset-legend {
  margin: 0px 0px 0px 12px;
  width: 250px;
  color: #060606;
  font-family: Calibri;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
}

.node--type-webform .fieldset-wrapper {
  margin: 0px 0px 0px 12px;
  width: 250px;
  color: #060606;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
}

.node--type-webform .form-actions {
  float: none;
  text-align: center;
}

.node--type-webform .form-actions .webform-button--submit {
  width: 222px;
  background: #b5141d;
  padding: 13px 15px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: -0.48px;
}

.views-field-field-dialog {
  display: none;
}
.views-field-field-dialog:hover {
  display: block;
}
.views-field-field-mod:hover + .views-field-field-dialog {
  display: block;
}
