.region-header .block-block-content .field--name-body .number-user {
  display: flex;
  justify-content: flex-end;
}

.region-header .block-block-content .field--name-body .number-user img{
  width: 46px;
  height: 46px;
  opacity: 1;
  margin-right: 15px;
}

.region-header .block-block-content .field--name-body .number-user a {
  width: 237px;
  height: 26px;
  opacity: 1;
  color: #2d6075;
  font-family: Raleway;
  font-size: 37px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.74px;
  text-decoration: none;
}

.region-header .block-block-content .field--name-body .shape-1 {
  margin-left: 147px;
  width: 68px;
  height: 3px;
  background-color: #2d6075;
  opacity: 1;
}

.region-header .block-block-content .field--name-body .shape-2 {

  width: 442px;
  height: 1px;
  background-color: #959595;
  opacity: 1;
}

