.region-taxonomy {
  display: flex;
  justify-content: center;
  max-width: 1100px;
  margin: auto;
  height: 270px;
}

.region-taxonomy .views-element-container h2 {
  width: 78px;
  height: 16px;
  color: #65666b;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 300;
  line-height: 25.74px;
  text-transform: uppercase;
  letter-spacing: -0.43px;
}

.region-taxonomy .views-element-container .view-services .view-content {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
}

.region-taxonomy .views-element-container .view-services .view-content .views-row .taxonomy-term .corner {
  margin: 14px 10px 0px 0px;
  border: 3px solid transparent;
  border-left: 6px solid red;
  float: left;
}

.region-taxonomy .views-element-container .view-services .view-content .views-row .taxonomy-term a {
  text-decoration: none;
  color: #7b7b7b;
}

.region-taxonomy .views-element-container .view-services .view-content .views-row .taxonomy-term h2 {
  text-transform: none;
  text-overflow: clip;
  width: 237px;
  height: 35px;
  font-family: "Trebuchet MS";
  font-size: 13px;
  font-weight: 400;
  line-height: 36px;
  border-bottom: 1px solid #7b7b7b;
}

.region-taxonomy .views-element-container .view-services .view-content .views-row .taxonomy-term a.is-active {
  color: #f00;
}

.region-taxonomy .views-element-container .view-services .view-content .views-row .taxonomy-term a:active {
  color: #f00;
}

@media all and (max-width: 479px) {
  .region-taxonomy {
    max-width: 590px;
    height: 500px;
  }
  .region-taxonomy .views-element-container .view-services .view-content .views-row .taxonomy-term h2 {
    width: 200px;
  }
  .region-taxonomy .views-element-container .view-services .view-content .views-row .taxonomy-term {
    margin: 0px 10px 0px 10px;
  }
  .region-taxonomy .views-element-container h2 {
    margin: 0px 10px 3px 10px;
  }

}

@media all and (min-width: 480px) and (max-width: 599px) {
  .region-taxonomy {
    max-width: 590px;
    height: 270px;
  }
  .region-taxonomy .views-element-container .view-services .view-content .views-row .taxonomy-term h2 {
    width: 200px;
  }
  .region-taxonomy .views-element-container .view-services .view-content .views-row .taxonomy-term {
    margin: 0px 10px 0px 10px;
  }
  .region-taxonomy .views-element-container h2 {
    margin: 0px 10px 3px 10px;
  }

}

@media all and (min-width: 600px) and (max-width: 900px) {
  .region-taxonomy {
    max-width: 590px;
    height: 270px;
  }
  .region-taxonomy .views-element-container .view-services .view-content .views-row .taxonomy-term {
    margin: 0px 10px 0px 10px;
  }
  .region-taxonomy .views-element-container h2 {
    margin: 0px 10px 3px 10px;
  }
}

@media all and (min-width: 901px) and (max-width: 1200px) {
  .region-taxonomy {
    height: 240px;
  }
  .region-taxonomy .views-element-container .view-services .view-content .views-row .taxonomy-term {
    margin: 0px 10px 0px 10px;
  }
  .region-taxonomy .views-element-container h2 {
    margin: 0px 10px 10px 10px;
  }
}

